<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title> Oops! </title>
</head>
  <div class="error">
    <body>
      <h1> Error </h1>
      <p> Oops! This page couldn't be found </p>
    </body>
  </div>
</html>
