<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple interface</title>


</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <h1>Simple interface</h1>
  <br>

  <form action="api/listings" method="post">
    <input type="text" name="name" placeholder="Property Name" id="propName">
    <input type="text" name="description" placeholder="description" id="description">
    <input type="text" name="price" placeholder="Price" id="price">
    <input type="submit" value="Send" id="subListing">
  </form>

  <!-- <ul id="newListing"> </ul> -->

  
  <script src="../../app/controller/interface.js"></script>
</body>

</html>
