<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple interface</title>


</head>

<body>
  <h1>Simple interface</h1>
  <br>

  <form action="api/listings" method="post">
    <input type="text" name="name" placeholder="Property Name" id="propName">
    <input type="text" name="description" placeholder="description" id="description">
    <input type="text" name="price" placeholder="Price" id="price">
    <input type="submit" value="Send" id="subListing">
  </form>

  <ul id="newListing"> </ul>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="../../app/controller/interface.js"></script> -->
  <script>
    $(document).ready(function () {

      console.log('working')

      getAllListings()
      console.log('working')
    })

    var newListing = $("#newListing")
    var propName = $("#propName").val();
    var description = $("#description").val();

    let getAllListings = function () {
        let data = $.get('api/listings/',
          function (listings) {
            $.each(listings, function (i, listing) {
                newListing.append(' <li> name:' +listing.name + ' </li>');
                })
            }) 
        }
  </script>
</body>

</html>