<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-jsT0TI7JBEWn8YstmA/9zrJCL1V9Nc3W8o0sjFOWfu7QFRWjxwELS43/lFzo9t6S" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="http://localhost:8000">MakersBnB</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:8000/feed">Listings <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8000/feed/create">List a space</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8000">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8000/login">Login</a>
    </li>

  </ul>
</div>
</nav>
  <br>
  <br>
  <h1><center> Available Spaces </h1>
</head>
  <body>
    <div class="jumbotron">
      <h1 class="display-3">Here's my house!</h1>
      <img class="listing-img" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Anne_Hathaways_Cottage_1_%285662418953%29.jpg/1200px-Anne_Hathaways_Cottage_1_%285662418953%29.jpg" alt="Anne Hathaways Cottage">
      <p class="lead">Summary of my house, has 3 beds and 1 shitter.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eros ex, congue id nisi at, blandit tempus mi.<br>
        Proin tincidunt semper quam quis sodales. Vestibulum convallis turpis ut dignissim accumsan. Sed ut nisi diam.<br>
        Nulla pellentesque porta neque in finibus. Proin sit amet orci purus. In eu accumsan eros.<br>
        Sed et luctus sapien, eget interdum ante. Vestibulum consequat maximus tellus tristique cursus.<br>
        Sed et nulla vitae mauris ullamcorper tempus.</p>
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>
