<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-jsT0TI7JBEWn8YstmA/9zrJCL1V9Nc3W8o0sjFOWfu7QFRWjxwELS43/lFzo9t6S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
  </head>
  <body>
  <fieldset>
    <legend>Sign Up</legend>
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="inputName" aria-describedby="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="Email">Email Address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="email address">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="password">
    </div>
    <div class="form-group">
      <label for="Selector">What will use MakersBnB for?</label>
      <select class="form-control" id="exampleSelect1">
        <option>Hostess with the mostest.</option>
        <option>Guestest with the bestest.</option>
        <option>Bit of Both!</option>
      </select>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
  <footer>
    <h3>This is the footer</h3>
  </footer>
</html>
