<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title> Available Spaces </title>
  </head>
  <body>
    <div class="buttons1" >
      <form action = "/spaces/create" method="post">
        <input type="submit" value="List a Space">
      </form>
    </div>

    <div class="dates" >
      <form action = "/spaces" method="post">
        <input type="date" name="start-date" min="2019-01-01" placeholder="yyyy-mm-dd">
        <input type="date" name="end-date" min="2019-01-01" placeholder="yyyy-mm-dd">
        <input type="submit" value="Confirm Dates" onclick="updateListings()">
      </form>
    </div>

    <div class="listings" >
      <ul>
        <% for(var i=0; i < listings.length; i++) { %>
          <li> <h1><%= listings[i].name %></h1> <p><%= listings[i].description %></p> </li>
        <% } %>
      </ul>
    </div>

  </body>
</html>
